In [27]:
import pandas as pd
url = "https://www.bndes.gov.br/wps/wcm/connect/site/7a6de47a-2f19-4aac-98b2-b2f82e155eb4/Rela%C3%A7%C3%A3o%2Bde%2Bempregados%2Be%2Bestagiarios%2Bpor%2Bcargo%2C%2Bfun%C3%A7%C3%A3o%2Be%2Bdata%2Bde%2Badmiss%C3%A3o+31.07.2023.csv?MOD=AJPERES&CVID=oG69.iC"
df = pd.read_csv(url, encoding='cp1252', sep=';')

In [28]:
df = df.iloc[6:]
df.head()

,,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
6,RONALDO JOSE DOS SANTOS,Técnico Administrativo,Secretário de Área,AS/DEST,Departamento de Estratégia Social e Territorial,BNDES RECIFE,01/03/2010
7,WALSEY DE ASSIS MAGALHAES,Economista,Não atribuído,AMA/DEMAM/GEMAM3,Gerência de Meio Ambiente 3,BNDES RJ,14/01/1974
8,MARIA APARECIDA BASTOS GOMES,Técnico Administrativo,Não atribuído,ASN/DEPAD/GDOC,Gerência de Administração de Documentos,BNDES RJ,01/03/2010
9,FERNANDO DE AVEIRO GOMES CAMACHO,Técnico Administrativo,Secretário de Área,ACO/DEPCO/GCONT2,Gerência de Contabilidade 2,BNDES RJ,01/10/1974
10,EDMUNDO BARRETO DE ARAUJO,Operador de Reprografia,Não atribuído,ASN/DEPAD/GSEG,Gerencia de Servicos Gerais,BNDES RJ,20/09/1996

In [32]:
df.rename(columns={" ":"NOME","Unnamed: 1":"CARGO","Unnamed: 2":"FUNC_OP","Unnamed: 3":"LOT_COMPL","Unnamed: 4":"DESC_UNID_ORG","Unnamed: 5":"LOCAL","Unnamed: 6":"DT_ADM"}, inplace=True)

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2775 entries, 6 to 2780
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   NOME           2774 non-null   object
 1   CARGO          2773 non-null   object
 2   FUNC_OP        2773 non-null   object
 3   LOT_COMPL      2773 non-null   object
 4   DESC_UNID_ORG  2773 non-null   object
 5   LOCAL          2773 non-null   object
 6   DT_ADM         2773 non-null   object
dtypes: object(7)
memory usage: 151.9+ KB

In [38]:
import pyodbc

server = 'IBM-PF35VRSP' 
database = 'ST_EMP_BNDES' 
username = 'sa' 
password = '@1q2w3e4r'